doctype html
html(lang="en")
  head
    include ./meta
    title="subscribes.js | 又一个小巧简单而且实用的发布/订阅 JavaScript 工具库！"
    include ./preload
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include buttons
    include ./script
