meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="subscribers.js,JavaScript,Publish,Subscribe")
meta(name="description" content="subscribers.js - 小巧且实用的 JavaScript 发布/订阅工具库！")
link(rel="shortcut icon" href="./favicon.ico")
