h3.aside__h3 Publish
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-emit") emit()
  li.aside__item
    a.aside__anchor(href="#method-notify") notify()
h3.aside__h3 Subscribe
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-on") on()
  li.aside__item
    a.aside__anchor(href="#method-once") once()
h3.aside__h3 Unsubscribe
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-off") off()
  li.aside__item
    a.aside__anchor(href="#method-remove") remove()
  li.aside__item
    a.aside__anchor(href="#method-clear") clear()
h3.aside__h3 Utils
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-get") get()
  li.aside__item
    a.aside__anchor(href="#method-has") has()
