h3.aside__h3 Methods
ul.aside__list
  li.aside__item
    a.aside__anchor(href="#method-subscribe") subscribe()
  li.aside__item
    a.aside__anchor(href="#method-subscribeOnce") subscribeOnce()
  li.aside__item
    a.aside__anchor(href="#method-publish") publish()
  li.aside__item
    a.aside__anchor(href="#method-notify") notify()
  li.aside__item
    a.aside__anchor(href="#method-unsubscribe") unsubscribe()
  li.aside__item
    a.aside__anchor(href="#method-getSubscribers") getSubscribers()
  li.aside__item
    a.aside__anchor(href="#method-hasDirectSubscribersFor") hasDirectSubscribersFor()
  li.aside__item
    a.aside__anchor(href="#method-hasSubscribers") hasSubscribers()
  li.aside__item
    a.aside__anchor(href="#method-deleteSubscriber") deleteSubscriber()
  li.aside__item
    a.aside__anchor(href="#method-deleteSubscribers") deleteSubscribers()
  li.aside__item
    a.aside__anchor(href="#method-clear") clear()
