section.section
  header.section__header
    h3#method-clear.section__h3 clear()
  div.section__content
    h4.section__h4 Description
    p 清理所有订阅者（主题和处理器的）信息。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object。
    p Subscribers 对象。
    pre.section__pre
      code.section__code.
        Subscribers.subscribe('author', handlerAuthor)
        Subscribers.subscribe('author.career', handlerCareer)
        Subscribers.subscribe('author.career.years', handlerYears)

        // 清理所有订阅者（主题和处理器的）信息
        Subscribers.clear()
