section.section
  header.section__header
    h3#method-clear.section__h3 clear()
  div.section__content
    h4.section__h4 Description
    p clear() 方法用于清理所有订阅者（主题和处理器的）信息。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd subscribers。
    p subscribers 对象，以便实现链式调用。
    pre.section__pre
      code.section__code.
        import subscribers from '@yaohaixiao/subscribers.js/subscribers'

        const handler = (msg) => {
          console.log('handler:', msg)
        }

        subscribers.on('author', handler)
        subscribers.on('author.career', handler)
        subscribers.on('author.career.years', handler)

        // 清理所有订阅者（主题和处理器的）信息
        subscribers.clear()

        subscribers.has() // -> false
