section.section
  header.section__header
    h3#method-deleteSubscribers.section__h3 deleteSubscribers(topic)
  div.section__content
    h4.section__h4 Description
    p 删除包含 topic 主题的订阅者信息。
    h4.section__h4 Parameters
    h5.section__h4 type
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）主题名称。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object。
    p Subscribers 对象。
    pre.section__pre
      code.section__code.
        Subscribers.subscribe('author', handlerAuthor)
        Subscribers.subscribe('author.career', handlerCareer)
        Subscribers.subscribe('author.career.years', handlerYears)

        // 删除包含 author 或者 author.career 主题相关的所有信息
        Subscribers.deleteSubscribers('author.career')
