section.section
  header.section__header
    h3#method-hasDirectSubscribersFor.section__h3 hasDirectSubscribersFor(topic)
  div.section__content
    h4.section__h4 Description
    p 判断是否存在特定 topic 指定的订阅者信息。
    h4.section__h4 Parameters
    h5.section__h4 topic
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）主题名称。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p 有 topic 订阅信息返回 true，否则返回 false。
    pre.section__pre
      code.section__code.
        Subscribers.subscribe('author', handlerAuthor)
        Subscribers.subscribe('author.career.years', handlerYears)

        Subscribers.hasDirectSubscribersFor('author.career.years')
        // => true

        Subscribers.hasDirectSubscribersFor('author.career.year')
        // => false
