section.section
  header.section__header
    h3#method-off.section__h3 off(topic[, token])
  div.section__content
    h4.section__h4 Description
    p off() 用来取消订阅主题。
    h4.section__h4 Parameters
    h5.section__h4 topic
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）主题名称。
    h5.section__h4 token
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function | String
    p （可选）订阅主题的处理器函数或者唯一 Id 值。
    ul
      li 为传递 token 参数：取消指定 topic 的订阅；
      li 传递 token 参数：仅删除 topic 订阅信息中与 token 对应的事件处理器
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd subscribers。
    p subscribers 对象，以便实现链式调用。
    pre.section__pre
      code.section__code.
        import subscribers from '@yaohaixiao/subscribers.js/subscribers'

        const handler = (msg) => {
          console.log('handler:', msg)
        }

        const callback = (msg) => {
          console.log('callback:', msg)
        }

        subscribers.on('author', handler)

        const token = subscribers.on('career', handler)
        const guid = subscribers.on('career', handler)

        // 取消订阅 author 主题
        subscribers.off('author', handler)

        // 删除订阅 career 主题下的 handler 处理器
        subscribers.off('career', token)

        // 删除订阅 career 主题下的 callback 处理器
        subscribers.off('career', guid)

        // 订阅 career 主题下2个处理器都删除后
        // 会取消整个 author 主题订阅，因此再发布 author 主题消息
        // 不会有任何反应
        subscribers.emit('career', 'web developer')
