section#methods.section
  header.section__header
    h2.section__title Publish
  include emit
  include notify
  header.section__header
    h2.section__title Subscribe
  include on
  include once
  header.section__header
    h2.section__title Unsubscribe
  include off
  include remove
  include clear
  header.section__header
    h2.section__title Utils
  include get
  include has
