section.section
  header.section__header
    h3#method-subscribe.section__h3 subscribe(topic, handler)
  div.section__content
    h4.section__h4 Description
    p 订阅主题，并给出处理器函数。
    h4.section__h4 Parameters
    h5.section__h4 topic
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）主题名称。
    h5.section__h4 handler
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function
    p （（必须）主题的处理器函数。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String。
    p 唯一的 token 字符串。
    pre.section__pre
      code.section__code.
        Subscribers.subscribe('author', handlerAuthor)

        // 支持命名空间形式的主题的订阅
        Subscribers.subscribe('author.career', handlerCareer)
        Subscribers.subscribe('author.career.years', handlerYears)
