section.section
  header.section__header
    h3#method-unsubscribe.section__h3 unsubscribe(topic[, token])
  div.section__content
    h4.section__h4 Description
    p 取消订阅主题。
    h4.section__h4 Parameters
    h5.section__h4 topic
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）主题名称。
    h5.section__h4 token
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function | String
    p （可选）订阅主题的处理器函数或者唯一 Id 值。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Object。
    p Subscribers 对象。
    pre.section__pre
      code.section__code.
        Subscribers.subscribe('author', handlerAuthor)
        const token = Subscribers.subscribe('author.career', handlerCareer)

        // 取消订阅 author 主题
        Subscribers.unsubscribe('author',handlerAuthor)

        // 取消订阅 author.career 主题
        Subscribers.unsubscribe('author.career', token)
